@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@669&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #1F2334;
}

.navbar a {
  color: white !important;
}

.banner {
  background-color: #24283B;
  padding: 0rem 3rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .text {
  margin: 0 auto;
}

.banner .text .first-p {
  color: #FFCE8A;
}

.banner .text h1 {
  font-size: 3.5rem;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.banner .banner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .banner-image svg {
  width: 70%;
}

.about {
  background-color: #1F2334;
  padding: 0rem 1.5rem;
  color: white;
  margin: 0 auto;
  width: 100%;
}

.about .about-container {
  background-color: #303551;
  width: 70%;
  margin: 0px auto;
  padding: 4rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-container .about-img {
  width: 60%;
}

.about .about-container .about-img img {
  width: 60%;
}

.about .about-container .about-text {
  text-align: left;
  color: white;
  width: 60%;
}

.about .about-container .about-text .about-me-head {
  color: #FFCE8A;
}

.about .about-container .about-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem !important;
}

.about .about-container .btn {
  border-color: #FFCE8A;
  border-radius: 0 !important;
}

.about .about-container .btn a {
  color: #FFCE8A !important;
  text-decoration: none;
}

.about .about-container .btn:hover {
  background-color: #FFCE8A !important;
}

.about .about-container .btn:hover a {
  color: black !important;
}

.project {
  background-color: #1F2334;
  padding: 6rem 4rem;
  margin: 0 auto;
  width: 100%;
}

.project .projects-container {
  width: 70%;
  margin: 0 auto;
}

.project .projects-container .project-header p {
  color: #FFCE8A;
  margin: 0;
}

.project .projects-container .project-header h1 {
  color: white;
  margin-bottom: 1.4rem;
  font-family: 'Playfair Display', serif;
}

.project .projects-container .project-cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px 12px;
}

.project .projects-container .project-cards-container .card {
  margin: 0 auto;
  background-color: #303551;
  border-color: #FFCE8A !important;
  border-radius: 0rem;
  color: white;
}

.project .projects-container .project-cards-container .card .card-body .card-title {
  font-weight: bold;
}

.project .projects-container .project-cards-container .card .card-body .btn {
  border-color: #FFCE8A;
  color: #FFCE8A;
  border-radius: 0 !important;
}

.project .projects-container .project-cards-container .card .card-body .btn:hover {
  background-color: #FFCE8A !important;
  color: black !important;
}

.contact {
  background-color: #24283B;
  padding: 6rem 4rem;
  margin: 0 auto;
  width: 100%;
}

.contact .card-container {
  width: 70%;
  margin: 0 auto;
}

.contact .card-container .contact-header p {
  color: #FFCE8A;
  margin: 0;
}

.contact .card-container .contact-header h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1.2rem;
}

.contact .card-container .cards {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 2fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 12px 12px;
}

.contact .card-container .cards .card {
  width: 100%;
  background-color: #24283B !important;
  border-color: #FFCE8A !important;
  border-radius: 0rem;
  color: white;
  cursor: pointer;
}

.contact .card-container .cards .card:hover {
  background-color: #FFCE8A !important;
  color: black !important;
}

.contact .card-container .cards .card .card-body {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .card-container .cards .card .card-body img {
  width: 13%;
}

.footer {
  background-color: #1F2334;
  padding: 2rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.footer p {
  margin: 0;
}

@media (max-width: 970px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 7rem;
  }
  .banner .banner-image {
    margin: 3rem 0;
  }
  .banner h1 {
    font-size: 1.5rem;
  }
  .about {
    padding: 0;
  }
  .about .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .about .about-container .about-img {
    text-align: center;
    margin-bottom: 2rem;
  }
  .about .about-container .about-text {
    width: 100%;
  }
  .about .about-container .about-text h1 {
    font-size: 1.95rem;
  }
  .project {
    padding: 6rem 2.5rem;
  }
  .project .projects-container {
    width: 100% !important;
  }
  .project .projects-container .project-header h1 {
    font-size: 1.95rem;
  }
  svg {
    width: 50% !important;
    height: 50%;
  }
  .contact .card-container {
    width: 100%;
  }
  .contact .card-container .contact-header h1 {
    font-size: 1.95rem;
  }
  .cards .card .card-body {
    padding: 0.5rem !important;
    font-size: 0.7rem;
  }
}

@media (max-width: 412px) {
  .banner .text h1 {
    font-size: 1.5rem !important;
  }
  .about .about-container .about-text h1 {
    font-size: 1.2rem !important;
    margin-bottom: 1.5rem !important;
  }
  .about .about-container .about-text p {
    font-size: 0.8rem;
  }
  .project-cards-container {
    -ms-grid-columns: (minmax(180px, 2fr))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(180px, 2fr)) !important;
  }
  .project-cards-container .card .card-body p {
    font-size: 0.8rem;
  }
  .project-cards-container .card .card-body .card-title {
    font-size: 1rem;
  }
  .project-cards-container .card .card-body .btn {
    font-size: 0.6rem;
  }
  .contact .card-container .cards {
    -ms-grid-columns: (minmax(180px, 2fr))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(180px, 2fr)) !important;
  }
  .contact .card-container .cards .card .card-body img {
    font-size: 8% !important;
  }
}
/*# sourceMappingURL=style.css.map */