// CSS RULES
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@669&display=swap');

// Variables
$firstBlue: #1F2334;
$secondBlue: #24283B;
$thirdBlue: #1E2233;
$footerBlue: #2F3A50;
$yellow: #FFCE8A;
$aboutBlue: #303551;

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
//  NAVIGATION BAR
.navbar{
  background-color: $firstBlue;
  a{
    color:white !important;
  }
}


// BANNER
.banner{
  background-color: $secondBlue;
  padding: 0rem 3rem;
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  .text{
    margin: 0 auto;
    .first-p{
      color: $yellow;
    }
    h1{
      font-size: 3.5rem;
      font-family: 'Montserrat Subrayada', sans-serif
    }
  }
  .banner-image{
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      width: 70%;
    }
  }
}


// ABOUT ME
.about{
  background-color: $firstBlue;
  padding: 0rem 1.5rem;
  color: white; 
  margin: 0 auto;
  width: 100%;   
      .about-container{
        background-color: $aboutBlue;
        width: 70%;
        margin: 0px auto;
        padding: 4rem 3rem;
        display: flex;
        align-items: center;
        .about-img{
          width: 60%;
          img{
            width:60%;
          }
        }
        
        .about-text{
          text-align: left;
          color: white;
          width: 60%;
          .about-me-head{
            color: $yellow;
          }
          h1{
            font-family: 'Playfair Display', serif;
            margin-bottom: 1.8rem;
          }
        }
        .btn{
          border-color: $yellow;
          border-radius: 0 !important;
          a{
            color: $yellow !important;
            text-decoration: none;
          }
          &:hover{
            background-color: $yellow !important;
            a{
              color: black !important;
            }
          }
        }
    }
  
  
}


// PROJECTS
.project{
  background-color: $firstBlue;
  padding: 6rem 4rem;
  margin: 0 auto;
  width: 100%;
  .projects-container{
    width:70%;
    margin:0 auto;
    .project-header{
      p{
        color: $yellow;
        margin:0;
      }
      h1{
        color: white;
        margin-bottom: 1.4rem;
        font-family: 'Playfair Display', serif;
      }
    }
    .project-cards-container{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 12px 12px;
      .card{
        margin: 0 auto;
        background-color: $aboutBlue;
        border-color: $yellow !important;
        border-radius: 0rem;
        color: white;
       .card-body{
         .card-title{
           font-weight: bold;
         }
        .btn{
          border-color: $yellow;
          color: $yellow;
          border-radius: 0 !important;
          &:hover{
            background-color: $yellow !important;
            color: black !important;
          }
        }
       }
      }
    }
  }
}


// CONTACTS
.contact{
  background-color: $secondBlue;
  padding: 6rem 4rem;
  margin: 0 auto;
  width: 100%; 
  .card-container{
    width:70%;
    margin:0 auto;
      .contact-header{
        p{
          color: $yellow;
          margin:0;
        }
        h1{
          color: white;
          font-family: 'Playfair Display', serif;
          margin-bottom: 1.2rem;
        }
      }
      .cards{
        width:100%;
        margin:0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
        gap: 12px 12px;
        .card{
          width:100%;
          background-color: $secondBlue !important;
          border-color: $yellow !important;
          border-radius: 0rem;
          color: white;
          &:hover{
            background-color: $yellow !important;
            color: black !important;
          }
          cursor: pointer;
          .card-body{
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
              width: 13%;
            }
          }
      }
  }      
}
}


// FOOTER
.footer{
  background-color: $firstBlue;
  padding: 2rem 1.5rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  p{
    margin: 0;
  }
}



// MEDIA QUARIES
@media(max-width: 970px){
  .banner{
    flex-direction: column;
    align-content: center;
    padding-top: 7rem;
    .banner-image{
      margin: 3rem 0;
    }
    h1{
      font-size: 1.5rem;
    }
  }
  .about{
    padding: 0;
    .about-container{
      flex-direction: column;
      width: 100%;
      .about-img{
        text-align: center;
        margin-bottom: 2rem;
      }
      .about-text{
        width:100%;
        h1{
          font-size: 1.95rem;
        }
      }
  }
} 
  .project{
    padding: 6rem 2.5rem;
    .projects-container{
      width:100% !important;
      .project-header{
        h1{
          font-size: 1.95rem;
        }
      }
    }
  }
  svg{
    width: 50% !important;
    height: 50%;
}
 .contact{
   .card-container{
     width: 100%;
     .contact-header{
       h1{
         font-size: 1.95rem;
       }
     }
   }
 }
 .cards{
   .card{
     .card-body{
       padding: 0.5rem !important;
       font-size: 0.7rem;
     }
   }
 }
}

@media(max-width: 420px){
  .banner{
    .text{
      h1{
        font-size: 1.5rem !important;
      }
    }
  }
  .about{
    .about-container{
      .about-text{
        h1{
          font-size: 1.2rem !important;
          margin-bottom: 1.5rem !important;
        }
        p{
          font-size: 0.8rem;
        }
        .btn{
          font-size: 0.6rem;
        }
      }
    }
  }

  .project-cards-container{
    grid-template-columns: repeat(auto-fit, minmax(180px, 2fr)) !important;
    .card{
      .card-body{
        p{
          font-size: 0.8rem;
        }
        .card-title{
          font-size: 1rem;
        }
        .btn{
          font-size: 0.6rem;
        }
      }
    }
  }

  .contact{
    .card-container{
      .cards{
        grid-template-columns: repeat(auto-fit, minmax(180px, 2fr)) !important;
        .card{
          .card-body{
            img{
              font-size: 8% !important;
            }
          }
        }
      }
    }
  }
}